:root {
  /* https://www.color-blindness.com/color-name-hue/ */
  /* renesas primary colors */
  --renesas-primary-color-fg-blue:            rgb(42, 40, 157);   /* #282a9d Cerulean Blue */
  --renesas-primary-color-fg-grey:            rgb(112, 111, 111); /* #706f6f Dim Gray */

  /* https://www.colorhexa.com/<hex> --> tint color variatian -> 2 from last (right) */
  /* check using https://simplecss.eu/rgbatohex.html to alpha 0.1 */
  --renesas-primary-color-bg-blue:            rgb(224, 225, 247); /* rgba(42, 40, 157, 0.1);   --> #e0e1f7 */
  --renesas-primary-color-bg-grey:            rgb(239, 239, 239); /* rgba(112, 111, 111, 0.1); --> #efefef */

  /* --renesas-primary-color-bg-blue--softer:    rgba(42, 40, 157, 0.075); */

  /* renesas secondary colors */
  --renesas-secondary-color-fg-grey:          rgb(124, 144, 156); /* #7c909c Light Slate Grey */
  --renesas-secondary-color-fg-violet-purple: rgb(97, 94, 142);   /* #615e8e Kimberly */
  --renesas-secondary-color-fg-blue:          rgb(67, 171, 226);  /* #43abe2 Summer Sky */
  --renesas-secondary-color-fg-blue-teal:     rgb(96, 169, 180);  /* #60a9b4 Fountain Blue */
  --renesas-secondary-color-fg-blue-sky:      rgb(48, 102, 131);  /* #306683 Astral */
  --renesas-secondary-color-fg-yellow:        rgb(223, 177, 24);  /* #dfb118 Sunflower */
  --renesas-secondary-color-fg-red-orange:    rgb(235, 98, 9);    /* #eb6209 Persimmon */
  --renesas-secondary-color-fg-red:           rgb(183, 25, 33);   /* #b71921 Fire Brick */
  --renesas-secondary-color-fg-violet:        rgb(136, 61, 144);  /* #883d90 Vivid Violet */
  --renesas-secondary-color-fg-green:         rgb(96, 154, 59);   /* #609a3b Apple */
  --renesas-secondary-color-fg-green-shade:   rgb(117, 136, 89);  /* #758859 Highland */
  --renesas-secondary-color-fg-black:         rgb(0, 0, 0);       /* #000000 Black */

  --renesas-secondary-color-bg-grey:          rgb(236, 239, 240); /* rgba(124, 144, 156, 0.1); --> #eceff0 */
  --renesas-secondary-color-bg-violet-purple: rgb(232, 232, 240); /* rgba(97, 94, 142, 0.1);   --> #e8e8f0 */
  --renesas-secondary-color-bg-blue:          rgb(237, 247, 252); /* rgba(67, 171, 226, 0.1);  --> #edf7fc */
  --renesas-secondary-color-bg-blue-teal:     rgb(229, 241, 243); /* rgba(96, 169, 180, 0.1);  --> #e5f1f3 */
  --renesas-secondary-color-bg-blue-sky:      rgb(228, 239, 245); /* rgba(48, 102, 131, 0.1);  --> #e4eff5 */
  --renesas-secondary-color-bg-yellow:        rgb(252, 247, 230); /* rgba(223, 177, 24, 0.1);  --> #fcf7e6 */
  --renesas-secondary-color-bg-red-orange:    rgb(254, 237, 226); /* rgba(235, 98, 9, 0.1);    --> #feede2 */
  --renesas-secondary-color-bg-red:           rgb(252, 231, 232); /* rgba(183, 25, 33, 0.1);   --> #fce7e8 */
  --renesas-secondary-color-bg-violet:        rgb(245, 234, 246); /* rgba(136, 61, 144, 0.1);  --> #f5eaf6 */
  --renesas-secondary-color-bg-green:         rgb(243, 249, 239); /* rgba(96, 154, 59, 0.1);   --> #f3f9ef */
  --renesas-secondary-color-bg-green-shade:   rgb(241, 243, 237); /* rgba(117, 136, 89, 0.1);  --> #f1f3ed */
  --renesas-secondary-color-bg-black:         rgb(245, 245, 245); /* rgba(0, 0, 0, 0.1);       --> #f5f5f5 */

  /* https://www.colorhexa.com/282a9d */
  /* material for mkdocs - primary color */
  --md-primary-fg-color:                      var(--renesas-primary-color-fg-blue);
  --md-primary-fg-color--light:               #4543cf;
  --md-primary-fg-color--dark:                #1a1860;

  /* target_blank icon */
  --md-target_blank-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z"></path></svg>');
}

/* admonitions */
/* =========== */

.md-typeset .admonition,
.md-typeset details {
  border: none !important;
  background-color: var(--renesas-primary-color-bg-blue) !important;
  position: relative !important;
  top: 0.1rem !important;
  left: 0.1rem !important;
}

.md-typeset .admonition:not(:has(.admonition-title)) {
  top: 0 !important;
  left: 0 !important;
}

.md-typeset .admonition-title,
.md-typeset summary {
  background-color: var(--renesas-primary-color-fg-blue) !important;
  display: inline-block !important;
  color: white !important;
  padding: 0.1rem 0.3rem !important;
  border-radius: 0.1rem !important;
  position: relative !important;
  top: -0.1rem !important;
  left: -0.1rem !important;
}

.md-typeset .admonition-title::before,
.md-typeset summary::before {
  display: none !important;
}

.md-typeset .admonition.abstract,
.md-typeset details.abstract {
  background-color: var(--renesas-secondary-color-bg-blue) !important;
}

.md-typeset .abstract > .admonition-title,
.md-typeset .abstract > summary {
  background-color: var(--renesas-secondary-color-fg-blue) !important;
}

.md-typeset .admonition.info,
.md-typeset details.info {
  background-color: var(--renesas-secondary-color-bg-blue-sky) !important;
}

.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: var(--renesas-secondary-color-fg-blue-sky) !important;
}

.md-typeset .admonition.tip,
.md-typeset details.tip {
  background-color: var(--renesas-secondary-color-bg-blue-teal) !important;
}

.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: var(--renesas-secondary-color-fg-blue-teal) !important;
}

.md-typeset .admonition.success,
.md-typeset details.success {
  background-color: var(--renesas-secondary-color-bg-green) !important;
}

.md-typeset .success > .admonition-title,
.md-typeset .success > summary {
  background-color: var(--renesas-secondary-color-fg-green) !important;
}

.md-typeset .admonition.question,
.md-typeset details.question {
  background-color: var(--renesas-secondary-color-bg-green-shade) !important;
}

.md-typeset .question > .admonition-title,
.md-typeset .question > summary {
  background-color: var(--renesas-secondary-color-fg-green-shade) !important;
}

.md-typeset .admonition.warning,
.md-typeset details.warning {
  background-color: var(--renesas-secondary-color-bg-yellow) !important;
}

.md-typeset .warning > .admonition-title,
.md-typeset .warning > summary {
  background-color: var(--renesas-secondary-color-fg-yellow) !important;
}

.md-typeset .admonition.failure,
.md-typeset details.failure {
  background-color: var(--renesas-secondary-color-bg-red-orange) !important;
}

.md-typeset .failure > .admonition-title,
.md-typeset .failure > summary {
  background-color: var(--renesas-secondary-color-fg-red-orange) !important;
}

.md-typeset .admonition.danger,
.md-typeset details.danger {
  background-color: var(--renesas-secondary-color-bg-red) !important;
}

.md-typeset .danger > .admonition-title,
.md-typeset .danger > summary {
  background-color: var(--renesas-secondary-color-fg-red) !important;
}

.md-typeset .admonition.bug,
.md-typeset details.bug {
  background-color: var(--renesas-secondary-color-bg-violet) !important;
}

.md-typeset .bug > .admonition-title,
.md-typeset .bug > summary {
  background-color: var(--renesas-secondary-color-fg-violet) !important;
}

.md-typeset .admonition.example,
.md-typeset details.example {
  background-color: var(--renesas-secondary-color-bg-violet-purple) !important;
}

.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: var(--renesas-secondary-color-fg-violet-purple) !important;
}

.md-typeset .admonition.quote,
.md-typeset details.quote {
  background-color: var(--renesas-secondary-color-bg-grey) !important;
}

.md-typeset .quote > .admonition-title,
.md-typeset .quote > summary {
  background-color: var(--renesas-secondary-color-fg-grey) !important;
}

/* tables */
/* ====== */

.md-typeset__table {
  table {
    /* border: 0.025rem solid !important; */
    /* border-color: var(--renesas-primary-color-fg-grey) !important; */
    border-collapse: separate;
    border-radius: 0.5rem !important;
    border-spacing: 0;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
    background-color: var(--renesas-primary-color-fg-blue);
    color: white !important;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: var(--renesas-primary-color-fg-grey) !important;
    border: 0 !important;
    /* background-color: var(--renesas-primary-color-bg-blue--softer); */
  }

  th,
  td {
    vertical-align: top;
    padding: .5375em 0.75em !important;
  }

  th {
    text-align: center !important;
    /* border: 0.025rem solid !important; */
    border-color: var(--renesas-primary-color-fg-grey) !important;
  }

  th::after {
    background-color: white !important;
    opacity: 1;
  }

  th:hover:after,
  th[aria-sort=ascending]:hover:after,
  th[aria-sort=descending]:hover:after {
    background-color: var(--renesas-secondary-color-fg-yellow) !important;
  }

  th[aria-sort=ascending]:after,
  th[aria-sort=descending]:after {
    background-color: var(--renesas-secondary-color-fg-red-orange) !important;
  }

  th > code {
    background-color: var(--md-primary-fg-color--light);
    color: white;
  }

  td {
    /* border: 0.025rem solid !important; */
    /* border-color: var(--renesas-primary-color-fg-grey) !important; */
    vertical-align: middle !important;
  }
}

/* admonitions used as content-wrapper, and its extension (sub) class */
/* ================================================================== */

.md-typeset .content-wrapper > .admonition-title,
.md-typeset .content-wrapper > summary,
.md-typeset .content-wrapper > .admonition-title::before,
.md-typeset .content-wrapper > summary::before {
  display: none !important;
}

.md-typeset .admonition.content-wrapper,
.md-typeset details.content-wrapper {
  top: 0 !important;
  left: 0 !important;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: transparent !important;

  & > .md-typeset__scrollwrap {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    line-height: .76rem;
    color: var(--md-default-fg-color--light);
    font-size: .64rem;
    margin-left: 0.6em;
  }

  li:target,
  li:has(p:target) {
    color: var(--md-default-fg-color);
  }

  [id^="tfref:"]:target > a {
    outline: auto;
  }

  a {
    outline-offset: .1rem;
  }

  .tf-backref {
    color: var(--md-typeset-a-color);
    display: inline-block;
    font-size: 0;
    opacity: 0;
    transform: translateX(.25rem);
    transition: color .25s, transform .25s .25s, opacity 125ms .25s;
    vertical-align: text-bottom;
  }

  .tf-backref::before {
    background-color: currentcolor;
    content: "";
    display: inline-block;
    height: .6rem;
    -webkit-mask-image: var(--md-footnotes-icon);
    mask-image: var(--md-footnotes-icon);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: .8rem;
    position: absolute;
  }

  .tf-backref:hover {
    color: var(--md-accent-fg-color);
  }

  li:has(.tf-backref):hover,
  li:target,
  li:has(p:target) {
    .tf-backref {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.no-indent {
  padding: 0 !important;
}

.table-no-sort {
  /* nothing */
}

.table-no-hover {
  tr:hover {
    background-color: transparent !important;
  }
}

.tabbed-block > .admonition.content-wrapper:first-child {
  margin-top: 0.6rem;
}

/* headings */
/* ======== */

.md-typeset h1 {
  background-color: var(--renesas-primary-color-fg-blue);
  color: white !important;
  font-style: italic;
  font-weight: 500 !important;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 .0735rem .075rem var(--renesas-primary-color-bg-blue) !important;
}

.md-typeset h1 > .headerlink {
  color: var(--renesas-secondary-color-fg-yellow) !important;
}

.md-typeset h1 > .headerlink:focus,
.md-typeset h1 > .headerlink:hover,
.md-typeset h1:target>.headerlink {
  color: var(--renesas-secondary-color-fg-red-orange) !important;
}

.md-typeset h1 > code {
  background-color: var(--md-primary-fg-color--light);
  color: white;
  font-style: normal;
}

.md-typeset h2 {
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: var(--renesas-primary-color-fg-blue);
}

.md-typeset h3 {
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  border-bottom-color: var(--renesas-primary-color-fg-grey);
}

.md-typeset h4 .headerlink,
.md-typeset h5 .headerlink,
.md-typeset h6 .headerlink {
    display: none !important;
    opacity: 0 !important;
  }
}

/* buttons */
/* ======= */

.md-button--primary {
  background-color: var(--renesas-primary-color-fg-blue) !important;
  border-color: var(--renesas-primary-color-fg-blue) !important;
}

.md-button--primary:hover {
  background-color: var(--renesas-primary-color-bg-blue) !important;
  border-color: var(--renesas-primary-color-bg-blue) !important;
  color: black !important;
}

.btn-grey {
  background-color: var(--renesas-primary-color-fg-grey) !important;
  border-color: var(--renesas-primary-color-fg-grey) !important;
}

.btn-grey:hover {
  background-color: var(--renesas-primary-color-bg-grey) !important;
  border-color: var(--renesas-primary-color-bg-grey) !important;
}

.btn-yellow {
  background-color: var(--renesas-secondary-color-fg-yellow) !important;
  border-color: var(--renesas-secondary-color-fg-yellow) !important;
  color: var(--renesas-secondary-color-fg-black) !important;
}

.btn-yellow:hover {
  background-color: var(--renesas-secondary-color-bg-yellow) !important;
  border-color: var(--renesas-secondary-color-bg-yellow) !important;
}

.btn-round {
  border-radius: 50rem !important;
}

p:has(.btn-right) {
  display: flex;
  justify-content: end;
}

.btn-right {
  margin: 0.1em;
}

.btn-subtext {
  font-size: 0.55rem !important;
  font-weight: normal;
}

.md-button {
  text-align: center;
}

.btn-indent {
  margin-left: 0.6rem;
}

.btn-small {
  font-size: 0.55rem !important;
}

#back_to_getting_started_btn {
  display: none;
}

/* navigations right top */
/* ===================== */

.md-nav-top-title {
  display: block;
}

.md-nav-top-subtitle {
  display: none;
  font-weight: normal;
}

.md-nav-top-logos {
  display: none;
  text-align: center;

  img {
    margin: auto;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }

  a img {
    margin: 0.1rem 0;
    width: 100%;
    height: auto;
  }

  a[target=_blank]:has(img)::after {
    top: 0.4rem;
    right: 0.7rem;
  }
}

#md-nav-top-btn {
  display: block;
}

@media screen and (min-width:76.25em) {
  #md-nav-top-home:hover {
    color: var(--md-default-fg-color);
  }

  #md-nav-top-home {
    display: none;
  }

  #md-nav-top-home + span {
    display: block:
  }

  .md-nav-top-subtitle,
  .md-nav-top-logos {
    display: block;
  }

  #md-nav-top-btn {
    display: none;
  }
}

@media screen and (max-width:76.25em) {
  .md-nav__title:has(.md-nav-top-no-icon) {
    height: 0.625em;
  }

  .md-nav-top-no-icon {
    margin-top: -3.1em;
  }

  .md-nav-top-no-icon > #md-nav-top-home {
    display: block;
    left: .2rem;
    margin: .2rem;
    padding: 0 .4rem;
    position: absolute;
    right: .2rem;
    top: .2rem;
    font-size: large;
  }

  #md-nav-top-home + span {
    display: none;
  }

  #md-nav-top-btn {
    a img {
      margin: 0.4em 0.4em 0 0.4em;
      width: calc(100% - 0.8em);
      object-fit: contain;
    }

    a[target=_blank]::after {
      display: none;
    }
  }
}

/* paragraphs, images, etc. */
/* ======================== */

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: .6rem !important;
}

/* main page subtitles */
/* =================== */

.subtitle {
  font-size: 22pt;
  font-style: italic;
  line-height: 24pt;
}

.sub-subtitle {
  font-size: 14pt;
  font-style: italic;
  line-height: 16pt;
}

/* announcements */
/* ============= */

.md-banner a {
  color: var(--renesas-secondary-color-fg-red-orange);
}

.md-banner:not(:has(p)) {
  height: 0;
}

/* links */
/* ===== */

a[target=_blank]::after {
  background-color: currentcolor;
  content: "";
  display: inline-block;
  height: .6rem;
  -webkit-mask-image: var(--md-target_blank-icon);
  mask-image: var(--md-target_blank-icon);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: .8rem;
  position: absolute;
  opacity: 0;
  transition: .3s;
}

a[target=_blank]:has(img)::after {
  top: 0;
  right: -0.4rem;
}

a[target=_blank].md-nav__button::after {
  top: 0.1rem;
  right: 0.1rem;
}

a[target=_blank]:hover:after {
  opacity: 1;
}

.md-content a[target=_blank] {
  margin-right: 0;
  transition: margin-right 0.3s;
}

.md-content a[target=_blank]:hover {
  margin-right: 0.75rem;
  transition: margin-right 0.3s;
}

/* headers */
/* ======= */

a.md-source[target=_blank]::after {
  margin-top: 0.375em;
}

.header-link > a {
  opacity: 1;
  transition: opacity .25s;
}

.header-link > a:hover {
  opacity: .7;
}

.header-link-no-icon {
  margin-left: -0.4em;
}

/* videos */
/* ====== */

.video-container {
  padding-top: .5em;
}

.video-container iframe {
  aspect-ratio: 4/3;
  height: auto !important;
}

/* images */
/* ====== */

.zoom {
  background-color: white;
  transition: transform .3s, z-index 0s;
  z-index: 0 !important;
  position: relative;
}

.zoom:hover {
  transform: scale(1.5);
  outline: 0.03rem solid;
  outline-color: var(--renesas-secondary-color-fg-blue-sky);
  border-radius: 0.13em;
  outline-offset: 0.33em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1 !important;
}

#banner-left:hover {
  transform: scale(1.5) translateX(1.7rem);
}

#banner-right:hover {
  transform: scale(1.5) translateX(-2.1rem);
}

/* code blocks */
/* =========== */

p.dollar + .language-bash code>span::before {
  content: "$ ";
}

p.diamond + .language-bash code>span::before {
  content: "> ";
}

p.diamond2 + .language-bash code>span::before {
  content: "=> ";
}

p.hash + .language-bash code>span::before {
  content: "# ";
}

/* switch-icons */
/* ============ */

.switch-icon {
  height: 5.6em !important;
  width: 5.6em;
  object-fit: contain;
  border: 0.03em solid var(--md-typeset-table-color);
  border-radius: 0.5em;
  background-color: var(--renesas-secondary-color-bg-green-shade);
  margin: 0 !important;
}

.switch-icon:hover {
  background: radial-gradient(white, var(--renesas-secondary-color-fg-green-shade));
}

.green {
  background-color: var(--renesas-secondary-color-bg-green);
}

.green:hover {
  background-color: var(--renesas-secondary-color-fg-green);
}

.red {
  background-color: var(--renesas-secondary-color-bg-red);
}

.red:hover {
  background-color: var(--renesas-secondary-color-fg-red);
}

.green:hover,
.red:hover {
  font-weight: bold;
  color: white;
}

/* footers */
/* ======= */

.footer-link {
  margin: 0.3em 0.7em;
  padding: 0 0.3em;
}

a.md-source[target=_blank].footer-link::after {
  margin-top: 0.375em;
}
